body {
	background-color: grey;
	color: aqua;
}

header img {
	max-width: 70px;
	float: left;
}

header {
	background-color: aquamarine;
	height: 100px;
	width: 100%;
}

nav ul {
	float: left;
}

nav ul li {
	float: left;
	position: relative;
	list-style-type: none;
}
nav ul li a {
	display: block;
	color: blue;
	padding: 20px;
}
